<h2 class="form-title">
  {{ isEditMode ? 'Edit Expense' : 'Add Expense' }}
</h2>

<form class="expense-form" [formGroup]="expenseForm" (ngSubmit)="saveExpense()">
  <div class="form-group">
    <label>Title</label>
    <input type="text" formControlName="title" placeholder="Enter expense title" />
  </div>

  <div class="form-group">
    <label>Amount</label>
    <input type="number" formControlName="amount" placeholder="₹ 0.00" />
  </div>

  <div class="form-group">
    <label>Category</label>

    <select formControlName="category">
      <option value="">Select Category</option>
      <option value="FOOD">Food</option>
      <option value="TRANSPORT">Transport</option>
      <option value="SHOPPING">Shopping</option>
      <option value="BILLS">Bills</option>
      <option value="ENTERTAINMENT">Entertainment</option>
      <option value="OTHER">Other</option>
    </select>
  </div>

  <div class="form-group">
    <label>Date</label>
    <input type="date" formControlName="expenseDate" />
  </div>

  <div class="form-group">
    <label>Payment Method</label>

    <select formControlName="paymentMethod">
      <option value="">Select Payment Method</option>
      <option value="CASH">Cash</option>
      <option value="CARD">Card</option>
      <option value="UPI">UPI</option>
      <option value="NET_BANKING">Net Banking</option>
    </select>
  </div>

  <div class="form-group">
    <label>Description</label>

    <textarea rows="4" formControlName="description" placeholder="Add a short description...">
    </textarea>
  </div>

  <button class="save-btn" type="submit">
    {{ isEditMode ? 'Update Expense' : 'Save Expense' }}
  </button>
</form>
