<div class="container">
  <app-header
    (addExpenseClicked)="openAddExpenseModal()"
    (searchChanged)="onSearch($event)"
    (categoryChanged)="onCategoryChange($event)"
    (sortChanged)="onSortChange($event)"
    (monthChanged)="onMonthChange($event)"
  >
  </app-header>

  <section class="summary">
    <div class="card">
      <h3>Total Expenses</h3>
      <p>₹ {{ getTotalExpenses() }}</p>
    </div>

    <div class="card">
      <h3>This Month</h3>
      <p>₹ {{ getThisMonthExpenses() }}</p>
    </div>

    <div class="card">
      <h3>Total Transactions</h3>
      <p>{{ getTotalTransactions() }}</p>
    </div>

    <div class="card">
      <h3>Highest Expense</h3>
      <p>₹ {{ getHighestExpense() }}</p>
    </div>
  </section>

  <section class="expenses">
    @if (loading) {
      <div class="loading-state">
        <div class="spinner"></div>
        <p>Loading expenses...</p>
      </div>
    } @else {
      @if (filteredExpenses.length === 0) {
        <div class="empty-state">
          <h2>No expenses found</h2>
          <p>Try changing your filters or add a new expense.</p>
        </div>
      } @else {
        @for (expense of filteredExpenses; track expense.id) {
          <div class="expense-card">
            <div class="expense-left">
              <div class="title-row">
                <h3>{{ expense.title }}</h3>

                <span class="category-badge">
                  {{ expense.category }}
                </span>
              </div>

              <div class="date">
                {{ expense.expenseDate | date: 'dd MMM yyyy' }}
              </div>
            </div>

            <div class="expense-right">
              <h2>₹ {{ expense.amount }}</h2>

              <div class="action-buttons">
                <button class="edit-btn" (click)="editExpense(expense)">Edit</button>

                <button class="delete-btn" (click)="confirmDelete(expense.id)">Delete</button>
              </div>
            </div>
          </div>
        }
      }
    }
  </section>

  <section class="charts-section">
    <app-monthly-chart [expenses]="filteredExpenses"> </app-monthly-chart>

    <app-category-chart [expenses]="filteredExpenses"> </app-category-chart>
  </section>
</div>

@if (showAddExpenseModal) {
  <div class="modal-backdrop">
    <div class="modal">
      <app-add-expense [expense]="selectedExpense" (expenseAdded)="onExpenseSaved()">
      </app-add-expense>

      <button class="close-btn" (click)="closeAddExpenseModal()">Close</button>
    </div>
  </div>
}

@if (showDeleteModal) {
  <div class="modal-backdrop">
    <div class="delete-modal">
      <h2>Delete Expense?</h2>

      <p>This action cannot be undone.</p>

      <div class="delete-buttons">
        <button class="cancel-btn" (click)="cancelDelete()">Cancel</button>

        <button class="confirm-delete-btn" (click)="deleteExpense()">Delete</button>
      </div>
    </div>
  </div>
}
